.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0 50px;
}

.country {
  border: 2px solid goldenrod;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 20px;
}

.country img {
  width: 200px;
}
